@keyframes pulsate {
    0% {
        transform: scale(1);
    }


    25% {
        transform: scale(1.02);
    }

    50% {
        transform: scale(1.04);
    }

    75% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulsateStrong {
    0% {
        transform: scale(1);
    }


    25% {
        transform: scale(1.03);
    }

    50% {
        transform: scale(1.07);
    }

    75% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes showDescription {

    0% {
        height: 0;
        width: 0;
    }

    50% {
        height: 20%;
        width: 50%;
        background-image: linear-gradient(120deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)70%, rgba(0, 0, 0, 0)70%);

    }

    75% {
        background-image: linear-gradient(120deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)70%, rgba(0, 0, 0, 0)70%);
        height: 100%;
        width: 100%;
    }

    100% {
        background-image: linear-gradient(120deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)70%, rgba(0, 0, 0, 0)70%);
        height: 100%;
        width: 100%;
    }
}