* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-secondary;
    background-color: $color-secondary;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 5%;

    &::-webkit-scrollbar {
        height: 1rem;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      outline: 1px solid $color-secondary;
      border-radius: 3rem;
    }

    &>* {
        box-shadow: 0 1.5px 3px $color-secondary;
    }
}