//Colors

$color-primary:#e25300; //#295893;
$color-secondary: rgb(73, 73, 73);
$color-tertiary: rgb(230, 111, 0);
$color-light: #efefef;
$color-grey-light: #eeee;
$color-grey-medium: #ababab;

//background-images

$bg-img-light: linear-gradient(to right bottom, #cecdcd, #5a52a5);

//Shadows

$shadow-dark: 0 1.5rem 3rem #000;
$shadow-light: 0 0rem 1rem #888;


//containers

$flex-container: 0 0 120rem;