.cta {
    background-color: $color-light;
    box-shadow: $shadow-light;
    padding: 4rem;
    border-radius: 3px;
    margin-top: 3rem;
    width: 80rem;

    @include sm {
        padding: 3rem 0;
        width: 80%;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}